<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <div class="container">
    <div class="footer">
      <div class="links">
        <a href=""> <i class="fa-solid fa-hippo"></i></a>
        <a href=""> <i class="fa-solid fa-spider"></i></a>
        <a href=""> <i class="fa-solid fa-tree"></i></a>
        <a href=""> <i class="fa-solid fa-volcano"></i></a>
      </div>
      <h2>Copyright Geek guy ⭐️</h2>
    </div>
  </div>
</body>

</html>
