* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(146, 146, 145);
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
}

.navbar {
  height: 100%;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  background-image: url(https://cdn.freebiesupply.com/logos/large/2x/nike-4-logo-svg-vector.svg);
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}


.navbar .links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar .links a {
  font-size: 20px;
}

.hero {
  background-image: url(https://images.unsplash.com/photo-1600185365926-3a2ce3cdb9eb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1325&q=80);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.hero .container {
  display: flex;
  align-items: center;
}

.hero h1 {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.hero h1 span {
  font-size: 64px;
  color: rgb(241, 53, 85);
}

.hero p {
  color: rgb(25, 27, 25);
  opacity: 0.8;
  margin-bottom: 80px;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.6;
}

.hero a {
  width: 200px;
  height: 30px;

  background-color: rgb(241, 31, 101);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: scale .2s ease;
}

.hero a:hover {
  scale: 1.05;
  cursor: pointer;
}

.hero small {
  margin-top: 10px;
  width: 200px;
  display: block;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.hero small span  {
  color: rgb(158, 8, 58);
}

.explore{
  padding: 70px 0;
}

.img-explore {
  background-image: url(https://images.unsplash.com/photo-1611510338559-2f463335092c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1064&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.explore .container{
  height: 400pxx;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.explore .right {
  height: 100%;
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .explore .left,
.explore .center,
.explore .right {
  display: flex;
  align-items: center;
  justify-content: center;
} */
