.container {
  display: flex;
  align-items: center;
  width: 75%;
  height: 15vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.img-product {
  background-image: url(https://images.unsplash.com/photo-1528154291023-a6525fabe5b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80);
  background-size: cover;
  width: 200px;
  height: 100%;
}


.product-contents {
  margin-left: 20px;
}
